/*Conocenos*/
.titulo_conocenos{
    text-align: center;
    margin-top: 1rem;
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
}
.texto_conocenos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 1rem;
}
/*Cambios al carusel*/
.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.carousel-inner div img{
    height: 50vh;
    text-align: center;
}
/*Cambios al acordion*/
.acordion_container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.accordion-button .titulos_acordion{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.accordion{
    width: 50vw;
}
.tabla-padre{
    width: 30vw;
}
